<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>542034277218-go11vi5u7ko9csoeoahu7dcvehpfa51f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542034277218-go11vi5u7ko9csoeoahu7dcvehpfa51f</string>
	<key>API_KEY</key>
	<string>AIzaSyA8_TD1xKZJFNKXgqQ1zS898gOqPR7Ci_k</string>
	<key>GCM_SENDER_ID</key>
	<string>542034277218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexme.ios</string>
	<key>PROJECT_ID</key>
	<string>nexme-6f2d1</string>
	<key>STORAGE_BUCKET</key>
	<string>nexme-6f2d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:542034277218:ios:72d18f37ee07ea71</string>
	<key>DATABASE_URL</key>
	<string>https://nexme-6f2d1.firebaseio.com</string>
</dict>
</plist>